<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">

     <title>Your Name Home Page</title>

     <meta name="author" content="Insert Your Name Here">
     <meta name="keywords" content="words, words">
     <meta name="description" content="words, words.">
</head>

<body>

     <header>
	<h1>logo</h1>
     </header>

<p>text goes here</p>

<p>This is a fictional site created for a class at  <a href="http://www.elcentrocollege.edu/">El Centro College</a>. Check out the rest of my <a href="../index.html">site</a>!</p>


     <footer> 
	<p><small>&copy;2015, Sandra Robinson Web Design<br>
              Last  Updated: March 27, 2020</small></p>
     </footer>

</body>
</html>